<h4 class="font-weight-bold py-3 mb-4">
  Contratos
</h4>

<%= link_to(new_contract_path, class: "btn btn-primary btn-round mb-3" ) do %>
  <span class="fas fa-plus"></span>&nbsp; Adicionar</button>
<% end %>

<%= form_tag(contracts_path, method: :get) do |f| %>
  <div class="card bg-transparent mb-3">
    <div class="card-header">Filtros</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <small>Termo</small>
          <%= text_field_tag(:q, params[:q], class: "form-control", placeholder: 'Pesquisar por Nome de Contrato') %>
        </div>
        <div class="col-sm-2">
          <br>
          <button class="btn btn-outline-secondary btn-round" type="submit">
            <span class="fas fa-search"></span>
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <table class="table card-table">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>URL</th>
        <th>Criado Em</th>
        <th>Atualizado Em</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <th scope="row"><%= contract.id  %></th>
          <td><%= contract.name %></td>
          <td><%= link_to(show_contract_url(slug: contract.slug), show_contract_url(slug: contract.slug)) %></td>
          <td>
            <%= I18n.l(contract.created_at, format: :short) %>
          </td>
          <td>
            <%= I18n.l(contract.updated_at, format: :short) %>
          </td>
          <td width='90px'>
            <%= link_to(edit_contract_path(contract), class: 'btn btn-primary btn-sm icon-btn') do %>
              <span class="fas fa-edit"></span>
            <% end %>
            <%= link_to(contract_path(contract), method: :delete, data: { confirm: 'Você tem certeza?' },  class: 'btn btn-outline-danger btn-sm icon-btn') do %>
              <span class="fas fa-trash-alt"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
</div>